@media (max-width: 650px) {
  .line-test {
    display: block;
    width: 100%;
    margin: 1rem 0;

    border-top: .6rem solid;
    border-color: #e4e4e4;
  }

  .header-count-todo {
  border: .1rem solid #6c6c6c;
  border-radius: .5rem;
  padding: .2rem .5rem;
  font-size: 1rem;
  }

  header h4 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 2rem;
  }

  header p:last-child {
    margin-left: 1rem;
    margin-right: 6rem;
  }

  main {
    margin: 2rem;
  }

  .card-todo {
    padding: .1rem 1rem 1rem 1rem;
    background-color: #cf9a7b;
    border-radius: .8rem;
    margin-bottom: .7rem;
    min-height: 5.9rem;
    max-height: 5.9rem;
    width: 100%;
    box-shadow: #6c6c6c 0.1rem 0.1rem 0.3rem 0.1rem;
  }

  .card-todo p:first-child{
    font-size: 1.1rem;
    font-style: italic;
  }

  .todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .todo-header-icons {
    display: flex;
    align-items: center;
  }

  .todo-header-icons:nth-child(2){
    color: white !important;
  }

  .todo-main {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .todo-main i:first-child {
    margin-right: .5rem;
    color: white !important;
  }

  .todo-main p {
    margin-right: 1rem;
  }
}

@media (min-width: 660px) {
  .line-test {
    display: block;
    width: 100%;
    margin: 1rem 0;

    border-top: .6rem solid;
    border-color: #e4e4e4;
  }

  .header-count-todo {
  border: .1rem solid #6c6c6c;
  border-radius: .5rem;
  padding: .2rem .5rem;
  font-size: 1rem;
  }

  header h4 {
    font-weight: bold;
    font-size: 2.1rem;
    margin: 0 1rem;
  }

  header p:last-child {
    margin-left: 1rem;
  }

  main {
    margin: 2rem;
  }
}
