<% if user_signed_in? %>
  <div class="nav" data-controller="nav-btn">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <%= link_to "/" do %>
      <h3 class="h-100 d-flex align-items-center justify-content-center me-1">SAVE AND <span class="text-decoration-line-through ms-2">DO IT</span></h3>
      <% end %>
    </div>
    
    <div class="nav-btn" id="n">
      <label for="nav-check" class="nav-icon" data-action="click->nav-btn#default">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-btn hidden" id="n-swap">
      <label for="nav-check" class="nav-icon-swap" data-action="click->nav-btn#swap">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <p class="nav-links__bg"><%= link_to "Edit profile", edit_user_registration_path %></p>
      <p class="nav-links__bg"><%= link_to "Completed To-dos", completed_todos_path %></p>
      <p class="nav-links__bg"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
    </div>
  </div>
<% end %>
