<span class="line-sep"></span>
  <div id="content">
    <h4>SUMMARY</h4>
    <div class="d-flex align-items-center">
      <p class="header-count-todo"><%= @todos_uncompleted %> TO-DOS</p>
      <p class="header-count-todo"><%= @todos_completed %> DONE</p>
    </div>
  </div>
<span span class="line-sep"></span>
