<div class="navigate-td">
  <% if @previous_todo %>
    <%= link_to '< Previous todo', todo_path(@previous_todo, sort_by: params[:sort_by]) %>
  <% end %>

  <% if @next_todo %>
    <%= link_to 'Next todo >', todo_path(@next_todo, sort_by: params[:sort_by]) %>
  <% end %>
</div>
