.nav {
  height: 5rem;
  width: 100%;
  background-color: #CF9A7B;
  position: relative;
  box-shadow: #6c6c6c 0rem 0rem 0.2rem 0.1rem;
}

.nav > .nav-header {
  font-weight: 200;
  width: 75%;
  text-align: center;
  background-color: white;
  border: .1rem solid black;
  margin: .5rem 2.6rem;
  border-radius: .5rem;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2.2rem;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.5rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: #CF9A7B;
}

.nav > #nav-check {
  display: none;
}

@media (min-width:651px) {
  .nav {
    display: flex;
    justify-content: space-between;

    padding: 0 6rem;
    height: 5rem;
    width: 100%;
    background-color: #CF9A7B;
    position: relative;
    box-shadow: #6c6c6c 0rem 0rem 0.2rem 0.1rem;
  }

  .nav > .nav-header {
    font-weight: 400;
    padding: 1rem;
    width: 30% !important;
    text-align: center;
    background-color: white;
    border: .1rem solid black;
    margin: .5rem 0rem;
    border-radius: .5rem;
    height: 80%;
  }

  .nav > .nav-header h3 {
    // font-size: 2.2vmin;
    font-family: 'Bungee Tint', sans-serif !important;
    font-style: normal !important;
  }

  .nav > .nav-links {
    display: flex;
    align-items: center;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  .nav > .nav-links p {
    padding-right: .8rem;
    margin-right: .8rem;
    border-right: .3rem solid wheat !important;
    // font-size: 2vmin;
  }

  .nav > .nav-links p:last-child {
    border-right: none !important;
    margin-right: 0rem !important;
  }

}

@media (max-width:708px) {
  .nav {
    padding: 0 3rem;
  }

  .nav > .nav-header {
    flex: 1;
  }
}

@media (max-width:650px) {
  .nav {
    padding: 0;
    padding-right: 4rem;
  }

  .nav > .nav-header h3 {
    font-family: 'Bungee Tint', sans-serif !important;
    font-style: normal !important;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .hidden {
    display: none !important;
  }

  .visible {
    display: flex;
  }

  .nav-icon {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    padding: 1.3rem;
    margin: .3rem;
  }

  .nav-icon > span {
    width: 25px;
    height: 10px;
    margin: .1rem;
    border-top: 2px solid #000;
  }

  .nav-icon-swap {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav-icon-swap > span {
    display: flex;
    width: 10px;
    height: 25px;
    margin: .1rem;
    border-left: 2px solid #000;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    // width: 50%;
    background-color: rgba(207, 154, 123, .8);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 5.3rem;
    right: .3rem;
    border-radius: .8rem;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav-links__bg {
    background-color: rgba(217, 217, 217, 0.4);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    // height: calc(50vh - 10rem);
    overflow-y: auto;
  }
}
